h1 {
  margin: 0;
}

#contactForm {
  display: none;

  border: 6px solid salmon;
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

label {
  /* margin: 1rem auto; */
  font-family: inherit;
  text-transform: inherit;
  font-size: 3rem;

  display: block;
  width: 30rem;
  /* padding: 1rem; */
}

.formBtn {
  width: 140px;
  display: inline-block;

  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14vh; /* Optional: Adjust the height as needed */
}

/* Popup Form Styles */
.popup__content form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.popup__content label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333; /* Adjust the color as needed */
}

.popup__content input[type="number"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup__content input[type="submit"] {
  padding: 0.75rem;
  background-color: #007bff; /* Adjust the color as needed */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Popup Header and Text Styles */
.popup__right {
  text-align: center;
}

.popup__close {
  font-size: 2rem;
  text-decoration: none;
  color: #333; /* Adjust the color as needed */
}

.popup__close:hover {
  color: #007bff; /* Adjust the color as needed */
}

.heading-secondary {
  margin: 1rem 0;
  font-size: 3rem;
  color: #333; /* Adjust the color as needed */
}
.heading-tertiary {
  margin: 1rem 0;
  font-size: 2rem;
  color: #333;
}

/* Popup Text Styles */
.popup__text {
  font-size: 1.5rem;
  color: #666; /* Adjust the color as needed */
  text-align: center;
}
