body {
    font-family: "Roboto", sans-serif;
    background: #f1f0ed; 
  
  }

  /* Google Fonts - Poppins */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* .confirmation-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 30px;
  background: rgb(247, 240, 240);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
} */

/* .confirmation-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(247, 240, 240);
  padding: 40px;
  border: 2px solid #ccc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
} */

.confirmation-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  text-align: center; /* Center the text content */
}

.confirmation-dialog h4 {
  margin-bottom: 10px;
}

.confirmation-dialog input {
  width: 100%; /* Make the input fill the width of the container */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 5px;
  margin-bottom: 10px;
}

.confirmation-dialog button {
  margin-right: 5px;
}

button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;

  /* padding: 30px 10px;
    font-weight: 300;
    font-size: 16px;
    color: black-2;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff; */
}
button:hover {
  background-color: #265df2;
}
button.show-modal,

.box a {
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}
.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(254, 126, 126, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: absolute;
    background: white;
    width: 400px;
    padding: 1em 2em;
    border-radius: 4px;
} 
.modal:target {
    visibility: visible;
    opacity: 1;
}
.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}
  /* //////////// */
  .table {
    margin: 20px auto;
    width: 90%;
    border-spacing: 0;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background-color: #8d919b;
  }
  .table th {
    font-weight: 300;
    font-size: 16px;
    color: #a6bcca;
    line-height: 26px;
    padding: 18px 30px;
  }
  .table thead tr {
    background: #37383a;

  }
  .table th, .table td {
    padding: 15px 20px; /* Increase padding for larger cells */
    text-align: center; /* Center text within cells */
    /* border: 1px solid #ccc; */
  }
  .accept-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .decline-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .centered img {
    width: 39px; /* Adjust the image width as needed */
    height: 35px; /* Adjust the image height as needed */
    margin-left: 10px; /* Adjust the spacing between the input and the image as needed */
    padding-left: 5px;
    padding-top: 15px;
  }
  .centered {
    text-align:left;
    margin: 0 auto;
    padding: 30px 10px;

  }

  #calendar {
    height: 3rem;
    width: 10rem;
    padding: 2px;
  }
  .id{
    display: none;
  }
  .table td {
    padding: 30px 10px;
    font-weight: 300;
    font-size: 16px;
    color: black-2;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
  }
  .table tbody tr:nth-child(odd) {
    background: #505152;
  }
  .table tbody tr:nth-child(even) {
    background: #8e9091;
  }
  .table__wrapper {
    padding-top: 40px;
  }
  
  @media (max-width: 768px) {
    .table td {
      display: block;
      text-align: right;
    }
    .table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
    .table thead display none tr {
      margin-bottom: 30px;
      display: block;
    }
  }
  
  .credit a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
  }
  
  .credit {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
  }
  
  /* heading text */
  .waviy {
    position: relative;
    /* -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.2)); */
    font-size: 60px;
  }
  .waviy span {
    font-family: "Alfa Slab One", cursive;
    position: relative;
    display: inline-block;
    color: #55c57a;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  .head2 {
    /* background-color: #151719; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 18vh;
  }
  @keyframes waviy {
    0%,
    40%,
    100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
  }
  
#imageView {
    display: none; /* Initially hide the image */
    max-width: 20%; /* Ensure the image doesn't exceed its natural width */
    height: auto; /* Maintain the image's aspect ratio */
    border: 1px solid #ccc; /* Add a border for better visibility */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    margin-top: 10px; /* Add some top margin for spacing */
  }

  .container {
    position: relative;
  }

  .centered-image {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Make sure the image is above other elements */
  }
