#editpirce{
    width: 50%;
    margin-left: 25%;
    display: block;
    border: solid 2px #000;
    /* padding-right: 5x; */
    /* padding-left: px; */
    padding-top: 20px;
    padding-bottom: 20px;

    height: 550px;
}
.title, .inputs{
    text-align: center;
}
.inputs{
    padding-top: 2rem;
    margin-left: 15%;
    width: 70%;
    background-color: #7C7575;
    padding-bottom: 2rem;
}
input{
    width: 50%;
    height: 2rem;
    /* text-align: center; */
    padding-left: 5px;
}

.inputs label{
    width: 100px;
    text-align: left;
}
#submit{
    width: 30%;
    background-color: #70EB65;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}