body {
    background-color: rgb(165, 246, 157);
}
input {
    width: 93%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.cp_container {
    border-color: 2px solid #000;
    background-color: rgb(117, 119, 117);
    width: 350px;
    padding: 20px;
    border-radius: 2px;
    margin-top: 150px;
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: -50px;
}

h1 {
    color: rgb(32, 32, 32);
}
#submit {
    background-color: #70EB65;
    width: 80%;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}