body {
    background-color: rgb(165, 246, 157);
}
.reset_container {
    border-color: 2px solid #000;
    background-color: rgb(117, 119, 117);
    width: 350px;
    margin-left: -50px;
    padding: 20px;
    border-radius: 2px;
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

h1 {
    color: rgb(32, 32, 32);
}
#resPass {
    display: block;
    width: 325px;
    height: 100px;
    padding-top: 20px;
    justify-content: center;

}

#resPass input {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    width: 330px;
    border-radius: 5px;
}


#remail{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

#submit{
    background-color: #70EB65;
    width: 50px;
    justify-content: center;
    text-align: center;
    border: none;
    height: 40px;
    border-radius: 2px;
    padding: 5px;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}
