/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.booking-container {
    margin: 5% 10%;
    text-align: center;
}

.topHeading {
    font-size: 24px;
    color: green;
    margin-bottom: 10px;
}

.warning {
    font-size: 14px;
    color: red;
}

.booking-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#img {
    width: 100%;
}

#sidepic {
    width: 100%;
    border-radius: 5px;
}

#booking-form {
    margin-left: 10%;
    text-align: left;
    display: grid;
    grid-gap: 10px;
}

#title {
    grid-column: span 2;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Form Styles */
label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Match and Tournament Styles */
.match-content,
.tournament-content {
    margin-top: 10px;
}

.mb-bt,
.tb-bt {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    margin-bottom: 10px;
}

/* Payment Styles */
#payment {
    margin-top: 20px;
}

.image-container {
    text-align: center;
    margin-top: 10px;
    width: 100px;
    height: 200px;
    background-color: #555;
}

#myImage {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#fileInput {
    margin-top: 10px;
}

/* Button Styles */
.green-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.green-button:hover {
    background-color: #45a049;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tournament-content, .match-content{
    display: none;
}

#payment{
    margin-left: 40%;
}
/* .pic{
    margin-left: -40%;
} */
.green-button{
    margin-left: 2%;
    width: 100%
    
}