input {
    border: none; /* Remove the default border */
    border-bottom: 2px solid #dffad2;/* Set the bottom border */
    outline: none; /* Remove the default focus outline */
  }

input:focus {
    border-bottom: 2px solid #dffad2; /* Change the bottom border color when focused, if desired */
}
input{
    color: #b1da9d;;
}