body {
    font-family: "Roboto", sans-serif;
    /* background: #fdc830;
    background: -webkit-linear-gradient(to right, #f37335, #fdc830);
    background: linear-gradient(to right, #f37335, #fdc830); */
  }

  /* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* .confirmation-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 30px;
  background: rgb(247, 240, 240);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
} */

.confirmation-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(247, 240, 240);
  padding: 40px;
  border: 2px solid #ccc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
}

.confirmation-dialog p {
  font-size: 28px;
  margin-bottom: 20px;
}

.confirmation-dialog button {
  margin: 15px;
  padding: 15px 30px;
  font-size: 24px;
}

button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;

  /* padding: 30px 10px;
    font-weight: 300;
    font-size: 16px;
    color: black-2;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff; */
}
button:hover {
  background-color: #265df2;
}
button.show-modal,

.box a {
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}
.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(254, 126, 126, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: absolute;
    background: white;
    width: 400px;
    padding: 1em 2em;
    border-radius: 4px;
} 
.modal:target {
    visibility: visible;
    opacity: 1;
}
.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}
  /* //////////// */
  .table {
    margin: 20px auto;
    width: 90%;
    border-spacing: 0;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background-color: #8d919b;
  }
  .table th {
    font-weight: 300;
    font-size: 16px;
    color: #a6bcca;
    line-height: 26px;
    padding: 18px 30px;
  }
  .table thead tr {
    background: #37383a;

  }
  .table th, .table td {
    padding: 15px 20px; /* Increase padding for larger cells */
    text-align: center; /* Center text within cells */
    /* border: 1px solid #ccc; */
  }

  .table td {
    padding: 30px 10px;
    font-weight: 300;
    font-size: 16px;
    color: black-2;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
  }
  .table tbody tr:nth-child(odd) {
    background: #505152;
  }
  .table tbody tr:nth-child(even) {
    background: #8e9091;
  }
  .table__wrapper {
    padding-top: 40px;
  }
  
  @media (max-width: 768px) {
    .table td {
      display: block;
      text-align: right;
    }
    .table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
    .table thead display none tr {
      margin-bottom: 30px;
      display: block;
    }
  }
  
  .credit a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
  }
  
  .credit {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
  }
  
  /* heading text */
  .waviy {
    position: relative;
    /* -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.2)); */
    font-size: 60px;
  }
  .waviy span {
    font-family: "Alfa Slab One", cursive;
    position: relative;
    display: inline-block;
    color: #55c57a;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  .head2 {
    /* background-color: #151719; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 18vh;
  }
  @keyframes waviy {
    0%,
    40%,
    100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
  }