/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.booking-container {
    display: flex;
    flex-direction: column;
}

.header-cont {
    text-align: center;
    margin: 50px;
}

/* .container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #EDEDED;
} */

/* #header {
    width: 491px;
    height: 50px;
    left: 476px;
    top: 148px;
    position: absolute;
} */

.green-text {
    color: #7AB55E;
    font-size: 40px;
    font-family: 'Open Sans';
    font-weight: 700;
}

#warning {
    /* width: 669px; */
    /* height: 32px; */
    /* left: 391px; */
    /* top: 212px; */
    /* position: absolute; */
    color: #F75454;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 700;
} 


.booking-form-container {
    color: #fff;
    background-color: #7C7575;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
.booking-form-img {
    background-color: bisque;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    background-image: url(/view/img/b0968ff38eec446709c5abe843a1b575.jpeg);
    background-size: cover;
}


#book-now {
    text-align: center;
}

.booking-form-inputs {
    margin-left:100px;
    margin-right: 100px;
}
.user-info-section {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.user-info-section input{
        border: none;
        border-bottom: 2px solid #000; 
        background-color: transparent;
        height: 30px;
    
}

.mbTb-container .tb-bt{
    display: flex;
    flex-direction: row;
    color: #7AB55E;
    font-weight: bold;
}

.mbTb-container .tournament-content {
    display: none;
}
.mbTb-container .mb-bt {
    padding-top: 10px;
    display: contents;
    color: #7AB55E;
    font-weight: bold;

}




.left-match, .right-tourt{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.tournament-content{
    width: 100%;
    float: right;
}

.tournament-content p, input {
    width: 100%;
}

.tournament-content input{
    border: none;
    border-bottom: 2px solid #000; 
    background-color: transparent;
    height: 30px;
}

.match-content input{
    border: none;
    border-bottom: 2px solid #000; 
    background-color: transparent;
    height: 30px;
}

#payment h2 {
    text-align: center;
}

#payment p {
    align-items: center;
    justify-content: center;
    text-align: center;
} 
#fileInput {

    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}



.green-button{
    background-color: #7AB55E;
    width: 100%;
    height: 50px;
    align-items: center;
    border-color: none;
    border-radius: 10px;
    color: #fff;
    font-size: large;
    border-style: none;
    margin-bottom: 20px;
}










/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999; /* Adjust this value as needed to be higher than other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-message {
    color: #000;
}
