styles.css

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.booking-container {
    display: flex;
    flex-direction: column;
}

.header-cont {
    text-align: center;
    margin: 50px;
}



.green-text {
    color: #7AB55E;
    font-size: 40px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.booking-form-container {
    color: #fff;
    background-color: #7C7575;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
.booking-form-img {
    height: 550px;
    background-color: bisque;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    background-image: url(./img/profile.jpg);
    background-size:cover;
}



.booking-form-inputs {
    padding-top: 75px;
    margin-left:100px;
    margin-right: 100px;
}

.user-info-section {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.user-info-section label{
    font-size: 14px;
}

.user-info-section input{
        border: none;
        border-bottom: 2px solid #000; 
        background-color: transparent;
        height: 30px;
    
}



 .green-button {
    background-color: #7AB55E;
    width: 100%;
    height: 50px;
    align-items: center;
    border-color: none;
    border-radius: 10px;
    color: #fff;
    font-size: large;
    border-style: none;
    margin-top: 20px; /* Add margin-top to move the button down */
}

p{
    font-size:20px;
}