/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Container styles */
.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(230, 91, 230, 0.99);
}

/* Reset box styles */
.reset-box {
    width: 1016px;
    height: 517px;
    left: 217px;
    top: 209px;
    position: absolute;
    display: flex;
    border-radius: 10px;
}

/* Left panel styles */
.left-panel {
    width: 513px;
    height: 517px;
    position: relative;
    background: #7C7575;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header styles */
.header {
    width: 314px;
    height: 36px;
    color: #EAEAEA;
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* Input box styles */
.input-box {
    width: 290px;
    height: 40px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 30px;
}

.input {
    width: 100%;
    height: 100%;
    background: #D9D9D9;
    border-radius: 5px;
    border: 1px solid black;
}

input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}

label {
    position: absolute;
    left: 5px;
    top: -20px;
    bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

/* Update button styles */
.update-btn {
    width: 290px;
    height: 40px;
    background: #70EB65;
    border-radius: 5px;
    border: 1px solid black;
    color: #F8F0F0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    cursor: pointer;
}

/* Right panel styles */
.right-panel {
    width: 503px;
    height: 517px;
    position: relative;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
