body {
  font-family: "Roboto", sans-serif;
  /* background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830); */
}
.table {
  margin: 20px auto;
  width: 90%;
  border-spacing: 0;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 #ff7730, 0 6px 20px 0 #ff7730;
  padding: 10px;
  background-color: #000;
}
.table th {
  font-weight: 300;
  font-size: 16px;
  color: #fdc830;
  line-height: 26px;
  padding: 18px 30px;
}
.table thead tr {
  background: #777;
}
.table td {
  padding: 30px 10px;
  font-weight: 300;
  font-size: 16px;
  color: black-2;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
}
.table tbody tr:nth-child(odd) {
  background: #7ed56f;
}
.table tbody tr:nth-child(even) {
  background: #28b485;
}
.table__wrapper {
  padding-top: 40px;
}

@media (max-width: 768px) {
  .table td {
    display: block;
    text-align: right;
  }
  .table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
  .table thead display none tr {
    margin-bottom: 30px;
    display: block;
  }
}

.credit a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

.credit {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

/* heading text */
.waviy {
  position: relative;
  /* -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.2)); */
  font-size: 60px;
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #55c57a;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
.head2 {
  /* background-color: #151719; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18vh;
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
